h1 {
  padding: 1px 20px;
}

body {
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #222;
}

.container {
  color: cyan;
  max-width: 500px;
  margin: 20px;
  background-color: #303440;
  border-radius: 4px;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input[type="submit"] {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  background-color: cyan;
  color: black;
  cursor: pointer;
  transition: 0.35s linear;
}

.form-group input[type="submit"]:hover {
  background-color: greenyellow;
}
